# Application
APP_URL=http://gresda-food.test
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:CHANGE_THIS_TO_A_RANDOM_64_CHAR_STRING

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=gresda_food

# Mail (Drivers: smtp, log)
MAIL_DRIVER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@gresdafood.com
MAIL_FROM_NAME=Gresda Food
