# Lingkungan dan Konfigurasi
/.env
/.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependensi
/vendor/
node_modules/
/public/build/

# IDE & OS Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# File yang diupload (Sesuaikan dengan kebutuhan, bisa dibagikan atau tidak di Git)
# /public/images/users/*
# !/public/images/users/default.jpg
# /public/images/foods/*
# !/public/images/foods/default.jpg
